$french-blue: #2274a5ff;
$cadet: #4f6d7aff;
$dark-jungle-green: #0b2027ff;
$tropical-rain-forest: #136f63ff;
$xanadu: #7e9181ff;

$french-blue-rgb: rgba(34, 116, 165, 1);
$cadet-rgb: rgba(79, 109, 122, 1);
$dark-jungle-green-rgb: rgba(11, 32, 39, 1);
$tropical-rain-forest-rgb: rgba(19, 111, 99, 1);
$xanadu-rgb: rgba(126, 145, 129, 1);

$screen-desktop: 992px;
